* {
    margin: 0;
    padding: 0;
}

#title-header {
    text-align: center;
    background-color: seashell;
}

h1, h2 {
    text-align: center;
}

#tasks-and-projects-wrapper {
    display: flex;
    flex-direction: row;
}

#projects-container {
    width: 25%;
    background-color: sandybrown;
    padding: 0.5rem;
}

#tasks-container {
    width: 75%;
    background-color: seagreen;
}

#new-project-form {
    display: none;
}

#new-task-form {
    display: none;
}

.project {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
    border-top-style: solid;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 0.5rem;
    margin: 0.25rem;
    flex-wrap: wrap;
}

.project-name-field {
    padding: 0.3rem;
}

.delete-project-btn {
    background-color: red;
    min-width: 1.5rem;
    max-height: 5rem;
    text-align: center;
}